:root {
  --color-iris: #4d5ae5;
  --color-ocean: #404bbf;
  --color-navy-blue: #2e2f42;
  --color-green: #31d0aa;
  --color-slate: #434455;
  --color-light-slate: #8e8f99;
  --color-cornflower: #e7e9fc;
  --color-cloud: #f4f4fd;
  --color-navy-blue-modal: #2e2f42;
  --color-grey: #2e2f42;
  --color-white: #ffffff;
  --color-dairy: #fcfcfc;
}

*,
*::before *::after {
  box-sizing: border-box;
}
/*===============Reset start==================*/
.link {
  text-decoration: none;
}
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
h1,
h2,
h3,
p {
  margin: 0;
}
img {
  display: block;
}
/*==============Reset end===============*/

/*==============Body================*/
body {
  font-family: "Roboto", sans-serif;
  color: var(--color-slate);
  background-color: var(--color-white);
}

.container {
  width: 1158px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/*================heder===================*/
.text-nav {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-navy-blue);
}
.text-nav:focus,
.text-nav:hover {
  color: var(--color-ocean);
}
.text-logo {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-iris);
  padding-top: 24px;
  padding-bottom: 24px;
}
.text-logo-stdio-top {
  font-family: "Raleway", sans-serif;
  color: var(--color-navy-blue);
}
.adress {
  font-style: normal;
}
.text-adress {
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-slate);
}
.text-adress:focus,
.text-adress:hover {
  color: var(--color-ocean);
}

.nav-container {
  display: flex;
  align-items: center;
  margin-left: 56px;
  gap: 40px;
  margin-right: auto;
  padding-top: 24px;
  padding-bottom: 24px;
}
.heder-container {
  display: flex;
  align-items: center;
}
.adress-container {
  display: flex;
  align-items: center;
  margin-right: auto;
  margin-left: 156px;
  gap: 40px;
  padding-top: 24px;
  padding-bottom: 24px;
}
/* -----------Titel-1------------- */
.background-titel {
  padding-top: 188px;
  background-color: var(--color-grey);
  text-align: center;
}
.text-titel {
  text-align: center;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;

  /* WHITE */
  color: var(--color-white);
}

/*batton*/
.text-button-studio {
  /* Button Text */
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;

  /* identical to box height, or 150% */
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;

  /* WHITE */
  color: var(--color-white);
  padding: 16px 32px 16px 32px;
}
.button-studio-color {
  background-color: var(--color-iris);
}

.text-button-studio:hover,
.text-button-studio:focus {
  background-color: var(--color-ocean);
  cursor: pointer;
}
/*section 2 studio*/
.features-container {
  display: flex;
  align-items: center;
  gap: 24px;
  padding-bottom: 120px;
  gap: 24;
}
.features-titel {
  margin-top: 120px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-navy-blue);
}

.features-text {
  margin-top: 8px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-slate);
}

/*section 3 background: #F4F4FD;*/

.doing-container {
  display: flex;
  align-items: center;
  padding-top: 112px;
  gap: 24px;
  padding-bottom: 120px;
}
.team-backgr {
  background-color: var(--color-cloud);
}
.titels {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--color-navy-blue);
}
/*Section-4-Team*/

.team-container {
  display: flex;
  align-items: center;
  padding-top: 72px;
  gap: 24px;
  padding-bottom: 120px;
}

.team-cards-fon {
  background-color: var(--color-white);
}
.titel-container {
  padding-top: 72px;
}
.team-cards-titel {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-navy-blue);
}

.team-cards-prof {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-slate);
}

/*=======buttons-portfoli===========*/
.button-portfolio {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--color-iris);
  background-color: var(--color-cloud);
}

.button-portfolio:hover,
.button-portfolio:focus {
  color: var(--color-white);
  background-color: var(--color-ocean);
  cursor: pointer;
}
/*==========Prodjects-portfolio============*/
.prodject-titel {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-grey);
}
.project-paragraf {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-slate);
}

/*=============footers==================*/

.footer-container-logo {
  margin-right: auto;
  margin-left: auto;
  padding-top: 102px;
  padding-bottom: 100px;
}
.footer-container-text {
  margin-right: auto;
  margin-left: auto;
}
.footer-background {
  background-color: var(--color-navy-blue);
}

.text-logo-stdio-footer {
  font-family: "Raleway", sans-serif;

  color: var(--color-cloud);
}
.text-footer {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-cloud);
}
